body {
  margin: 0;
}
.doremon {
  margin-top: 30px;
  padding-left: 330px;
  color: skyblue;
}
.head {
  height: 275px;
  width: 100px;
  margin-top: 100px;
  padding-left: 200px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: skyblue;
}
.face {
  height: 240px;
  width: 246px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-top: 29px;
  margin-left: -172px;
}
.eyes {
  display: flex;
}
.eye1 {
  height: 55px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid black;
  margin-left: -105px;
  margin-top: -250px;
}
.eye2 {
  height: 55px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid black;
  margin-top: -250px;
}
.eye-dots {
  display: flex;
}
.dot1 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
  margin-left: -95px;
  margin-top: -230px;
}
.dot2 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
  margin-left: 30px;
  margin-top: -230px;
}
.eye-dot-in {
  display: flex;
  position: relative;
}
.dot-in1 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: -224px;
  margin-left: -91px;
}
.dot-in2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: -224px;
  margin-left: 42px;
}
.nose {
  height: 27px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
  margin-top: -206px;
  margin-left: -65px;
}
.white {
  height: 13px;
  width: 15px;
  border-radius: 50%;
  margin-top: -200px;
  /* margin-left: 0px; */
  background-color: #ffffff;
}
.beard1 {
  height: 1px;
  width: 50px;
  background-color: #000;
  position: absolute;
  top: 206px;
  left: 395px;
  transform: rotate(15deg);
}
.beard2 {
  height: 1px;
  width: 50px;
  background-color: #000000;
  position: absolute;
  top: 230px;
  left: 395px;
}
.beard3 {
  height: 1px;
  width: 50px;
  background-color: #000000;
  position: absolute;
  top: 255px;
  left: 395px;
  transform: rotate(-15deg);
}
.mid-line {
  width: 60px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 228px;
  left: 448px;
  transform: rotate(90deg);
}
.beard4 {
  height: 1px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: 206px;
  left: 510px;
  transform: rotate(707deg);
}
.beard5 {
  height: 1px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: 230px;
  left: 510px;
}
.beard6 {
  height: 1px;
  width: 50px;
  background-color: #000000;
  position: absolute;
  top: 255px;
  left: 510px;
  transform: rotate(-707deg);
}
.mouth {
  height: 50px;
  width: 170px;
  border: 0.5px solid #000;
  position: absolute;
  top: 294px;
  left: 390px;
  border-bottom-left-radius: 71px;
  border-bottom-right-radius: 71px;
  background-color: #cf063c;
}
.left-mouth {
  height: 45px;
  position: absolute;
  width: 35px;
  top: -47px;
  left: -29px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: white;
  border-top: 1px solid black;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 17px;
  border-top-left-radius: 27px;
}
.right-mouth {
  height: 45px;
  position: absolute;
  width: 35px;
  top: -47px;
  left: 172px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  border-top: 1px solid black;
  border-bottom-right-radius: 27px;
  border-top-right-radius: 27px;
  border-top-left-radius: 17px;
}
.tounge {
  height: 25px;
  width: 25px;
  border: 1px solid #f36e07;
  position: absolute;
  border-radius: 50px;
  background-color: #f36e07;
  right: 60px;
  top: 24px;
}
.tounge-second {
  height: 25px;
  width: 25px;
  border: 1px solid #f36e07;
  position: absolute;
  border-radius: 50px;
  background-color: #f36e07;
  right: 80px;
  top: 24px;
}
.left-hand {
  height: 30px;
  position: absolute;
  background-color: skyblue;
  width: 80px;
  left: 328px;
  top: 347px;
  transform: rotate(45deg);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.left-circle {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: white;
  border-radius: 39px;
  border: 1px solid black;
  left: -31px;
  top: -7px;
}
.right-hand {
  height: 30px;
  position: absolute;
  background-color: skyblue;
  width: 87px;
  left: 115px;
  transform: rotate(45deg);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  left: 561px;
  top: 388px;
}
.right-circle {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: white;
  border-radius: 39px;
  border: 1px solid black;
  left: 73px;
  top: -7px;
}
.stomach {
  position: absolute;
  background-color: skyblue;
  height: 200px;
  width: 208px;
  left: 379px;
  top: 361px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.in-stomach {
  background-color: white;
  position: absolute;
  height: 109px;
  width: 125px;
  left: 10px;
  border-radius: 83px;
  border: 1px solid black;
}

.pocket {
  border: 1px solid black;
  width: 112px;
  height: 53px;
  position: absolute;
  background-color: white;
  left: 45px;
  top: 48px;
  border-bottom-right-radius: 52px;
  border-bottom-left-radius: 55px;
}

.band {
  position: absolute;
  height: 10px;
  width: 84px;
  background-color: #cf063c;
  left: 65px;
  top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.band-one {
  position: absolute;
  height: 11px;
  width: 81px;
  background-color: #cf063c;
  left: -72px;
  top: -18px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(26deg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 4px;
}
.band-two {
  position: absolute;
  height: 11px;
  width: 76px;
  background-color: #cf063c;
  left: 72px;
  top: -19px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(152deg);
  border-top-left-radius: 78px;
}
.bell {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #f9df56;
  left: 83px;
  top: -8px;
  border: 1px solid black;
  border-radius: 15px;
}
.line {
  position: absolute;
  background-color: white;
  height: 3px;
  width: 28px;
  left: 0px;
  top: 6px;
  border: 1px solid black;
}
.circle {
  position: absolute;
  background-color: darkgrey;
  height: 8px;
  width: 8px;
  top: 13px;
  left: 10px;
  border-radius: 30px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.lastline {
  position: absolute;
  background-color: darkgray;
  height: 8px;
  width: 3px;
  left: 13px;
  top: 22px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.whitespace {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  top: 177px;
  left: 93px;
}
.foot {
  height: 38px;
  width: 87px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 48px;
  top: 188px;
  left: 6px;
}
.foot-2 {
  height: 38px;
  width: 87px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 48px;
  top: 188px;
  left: 119px;
}
