body{
    margin: 0;
}
.start{
    background-color: #222b34;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#header{
      font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: white;
    display: flex;
   padding-top: 0.7%;
    justify-content: space-around;
    height: 10vh;

}
#navigation{
    word-spacing: 38px;
    margin-left: 271px;
}
.nav_link{
    color: white;
    text-decoration: none;
font-size: 30px;
}
 .nav_link:hover {
    color: rosybrown;

}
#about{
        font-family: 'Dancing Script', cursive;

    color: white;
    display: flex;

    justify-content: space-around;
    height: 90vh;
  /*  max-height: 80%;
    max-width: 80%;*/

}
.about_section{
    height: 70%;
    width: 90%;
    padding-top: 5%;
    display: flex;
    /* padding-top: 48px; */
    /* margin-top: 7.5%; */
    align-items: center;
    justify-content: center;
    }
#about .about_section img {
    height: 80%;
}
.about_detail{
    padding-left: 10%;
}
.about_greeting{
    color: whitesmoke;
    height: 31px;
    width: 110px;
    background-color: green;
    text-align: center;
   /* margin-left: -52px;
    padding-top: 12px;
    margin-top: 90px;*/
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
padding-top: 9px;
}
.about_name{
    font-size: 40px;
    color: white;

    font-family: 'Quicksand', sans-serif;
/*margin-top: 145px;
     margin-left: -107px;*/
}
.about_intro{
    font-size: 27px;
    color: white;
    font-family: 'Quicksand', sans-serif;
   /* margin-top: 200px;
    margin-left: -365px;*/
}
.about_profile_info {
   /* margin-top: 245px;*/
    color: white;
   /* margin-left: -17.29rem*/;
    font-family: 'Quicksand', sans-serif;
}
.about_profile_info span {
    font-weight: 400;
    display: block;
    line-height: 30px;
}
.about_profile_info span i {
    font-size: 14px;
    margin-right: 10px;
}
.about_social_profile {
    margin-top: 24.1rem;
    margin-left: -30rem;
}
.about_social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.about_social_profile ul li {
    display: inline-block;
}
.about_social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    font-size: 18px;
    color: #eee;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: block;
    border: 1px solid rgba(255,255,255,0.2);
}
.contact_info {
    height: 10vh;
    width: 100%;

}
.contact_info i {
    font-size: 40px;
    
      text-shadow: 0px 0px 1px red;
  color: white; 

}

